In [117]:
import pandas as pd
import numpy as np

In [66]:
df = pd.read_csv('D:\\data.csv')

In [67]:
df.head

<bound method NDFrame.head of     day_count_0_25  day_count_0_5  day_count_0_75  day_count_1_0  \
0              682           2464            4089           7273
1              754           2155            4225           6657
2             1945           4185            7516          17092
3              977           1400            1879           2260
4               33             47              68             82
..             ...            ...             ...            ...
70             200           1149            2023           3027
71             410           2488            4303           6711
72              75            213             259            305
73            2521           9010           13679          21983
74            1005           1860            2656           3506

    day_count_2_0  day_count_3_0  day_count_4_0  pop_count_0_25  \
0           26611          42798          59421             682
1           25903          56247         109079             798
2           78080         148992         267023            2089
3            5756          18850          39565             490
4             414            883           1633              25
..            ...            ...            ...             ...
70           9300          15683          25853             193
71          31467          69899         131833             336
72           1037           2656           4751              56
73          63807         133657         194202            2649
74          27794          81403         177378             633

    pop_count_0_5  pop_count_0_75  ...  restaurant_0_75  restaurant_1_0  \
0            2507            4093  ...                0               1
1            2225            4436  ...                2               2
2            4479            8152  ...                3               3
3             805            1315  ...                2               2
4              40              64  ...                3               3
..            ...             ...  ...              ...             ...
70           1074            1923  ...                0               0
71           2287            4076  ...                0               1
72            192             232  ...                0               0
73          10296           15131  ...                0               1
74           1250            1827  ...                5               5

    restaurant_2_0  restaurant_3_0  restaurant_4_0      size  concept_type  \
0                3              13              14  129.5000          ILDT
1                2               5              11  113.4000          ILDT
2                4              11              24   71.2236            FC
3                2               3               5   47.3280            FC
4                3               3               3  107.1600          ILDT
..             ...             ...             ...       ...           ...
70               0               0               3  623.9233          FSDT
71               5               8              16   46.9040            FC
72               0               0               1   98.4000            FC
73               7              11              21  153.0000          ILDT
74               6               6              11   45.1000            FC

      city            region       target
0    other  eastern_province  3683833.046
1   jeddah     makkah_region  3500566.183
2   riyadh     riyadh_region  1680120.334
3   jeddah     makkah_region  3671408.579
4    other  eastern_province  1720838.617
..     ...               ...          ...
70  jeddah     makkah_region  8665245.647
71  riyadh     riyadh_region  1749022.339
72   other     riyadh_region  1673505.016
73  riyadh     riyadh_region  4248923.765
74  jeddah     makkah_region  3774559.615

[75 rows x 124 columns]>

Deleted the row with low number of occurence

In [68]:
df['city'].unique()

array(['other', 'jeddah', 'riyadh'], dtype=object)

In [69]:
df['region'].unique()

array(['eastern_province', 'makkah_region', 'riyadh_region'], dtype=object)

In [70]:
df.value_counts(df['concept_type'])

concept_type
FSDT    34
FC      26
ILDT    15
Name: count, dtype: int64

In [71]:
df.value_counts(df['city'])

city
riyadh    41
other     19
jeddah    15
Name: count, dtype: int64

In [99]:
x = df.drop(['target'], axis=1)

In [100]:
y = df['target']

In [101]:
x

,day_count_0_25,day_count_0_5,day_count_0_75,day_count_1_0,day_count_2_0,day_count_3_0,day_count_4_0,pop_count_0_25,pop_count_0_5,pop_count_0_75,...,restaurant_0_5,restaurant_0_75,restaurant_1_0,restaurant_2_0,restaurant_3_0,restaurant_4_0,size,concept_type,city,region
0,682,2464,4089,7273,26611,42798,59421,682,2507,4093,...,0,0,1,3,13,14,129.5000,ILDT,other,eastern_province
1,754,2155,4225,6657,25903,56247,109079,798,2225,4436,...,2,2,2,2,5,11,113.4000,ILDT,jeddah,makkah_region
2,1945,4185,7516,17092,78080,148992,267023,2089,4479,8152,...,3,3,3,4,11,24,71.2236,FC,riyadh,riyadh_region
3,977,1400,1879,2260,5756,18850,39565,490,805,1315,...,2,2,2,2,3,5,47.3280,FC,jeddah,makkah_region
4,33,47,68,82,414,883,1633,25,40,64,...,3,3,3,3,3,3,107.1600,ILDT,other,eastern_province
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,200,1149,2023,3027,9300,15683,25853,193,1074,1923,...,0,0,0,0,0,3,623.9233,FSDT,jeddah,makkah_region
71,410,2488,4303,6711,31467,69899,131833,336,2287,4076,...,0,0,1,5,8,16,46.9040,FC,riyadh,riyadh_region
72,75,213,259,305,1037,2656,4751,56,192,232,...,0,0,0,0,0,1,98.4000,FC,other,riyadh_region
73,2521,9010,13679,21983,63807,133657,194202,2649,10296,15131,...,0,0,1,7,11,21,153.0000,ILDT,riyadh,riyadh_region
74,1005,1860,2656,3506,27794,81403,177378,633,1250,1827,...,5,5,5,6,6,11,45.1000,FC,jeddah,makkah_region

In [102]:
y

0     3683833.046
1     3500566.183
2     1680120.334
3     3671408.579
4     1720838.617
         ...
70    8665245.647
71    1749022.339
72    1673505.016
73    4248923.765
74    3774559.615
Name: target, Length: 75, dtype: float64

## Data preparation

In [103]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=['target']), df['target'])

## One hot encoding

concept_type, city, region

In [107]:
ohe = OneHotEncoder(drop='first', sparse= False)

In [110]:
x_train_a = ohe.fit_transform(x_train[['concept_type','city','region']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [111]:
x_test_a = ohe.fit_transform(x_test[['concept_type','city','region']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [114]:
x_train_b = x_train.drop(columns=['concept_type','city','region']).values
x_test_b = x_test.drop(columns=['concept_type','city','region']).values

In [119]:
x_train_transformed = np.concatenate((x_train_a,x_train_b), axis=1)
x_test_transformed = np.concatenate((x_test_a,x_test_b), axis=1)

In [120]:
x_train_transformed

array([[  0.  ,   0.  ,   0.  , ...,   9.  ,  19.  ,  72.6 ],
       [  1.  ,   0.  ,   0.  , ...,   5.  ,   8.  , 636.32],
       [  1.  ,   0.  ,   0.  , ...,   5.  ,   6.  , 327.  ],
       ...,
       [  0.  ,   1.  ,   0.  , ...,  11.  ,  21.  , 153.  ],
       [  0.  ,   1.  ,   1.  , ...,   0.  ,   0.  , 192.5 ],
       [  0.  ,   0.  ,   0.  , ...,  11.  ,  18.  ,  84.  ]])

## Model building

In [123]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train_transformed,y_train)

LinearRegression()

In [124]:
y_lr_train_pred = lr.predict(x_train_transformed)

In [125]:
y_lr_test_pred = lr.predict(x_test_transformed)

## Evaluate model performance

In [129]:
from sklearn.metrics import mean_squared_error, r2_score

lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)

lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)

In [130]:
print("LR Train MSE: ",lr_train_mse)
print("LR Train R2: ",lr_train_r2)
print("LR Test MSE: ",lr_test_mse)
print("LR Test R2: ",lr_test_r2)

LR Train MSE:  2.621910454457484e-08
LR Train R2:  1.0
LR Test MSE:  399507329629445.8
LR Test R2:  -30.15732710128342